################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
*.log
*.tar
obj
bin
Config/config.json
Runtime/*
!Runtime/*.ps1
Runtime/*/